<ul>
	<li class="list-group-item">
		<strong>hp:</strong>
		<span class = "pull-right label label-primary">
			{{pokemon.stats.hp}}
		</span>
	</li>
	<li class="list-group-item">
		<strong>Atack:</strong>
		<span class = "pull-right label label-primary">
			{{pokemon.stats.atack}}
		</span>
	</li>
	<li class="list-group-item">
		<strong>Defense:</strong>
		<span class = "pull-right label label-primary">
			{{pokemon.stats.defense}}
		</span>
	</li>
	<li class="list-group-item">
		<strong>Special Atack:</strong>
		<span class = "pull-right label label-primary">
			{{pokemon.stats['sp.atack']}}
		</span>
	</li>
	<li class="list-group-item">
		<strong>Special Defense:</strong>
		<span class = "pull-right label label-primary">
			{{pokemon.stats['sp.defense']}}
		</span>
	</li>
	<li class="list-group-item">
		<strong>Speed:</strong>
		<span class = "pull-right label label-primary">
			{{pokemon.stats.speed}}
		</span>
	</li>
	<li class="list-group-item">
		<strong>Total:</strong>
		<span class = "pull-right label label-primary">
			{{pokemon.stats.total}}
		</span>
	</li>
</ul>