a
	color grey
li
	list-style: none
	
.margen-derecho
	margin-right 20px

.margen-izquierdo
	margin-left 20px
	
.ng-invalid.ng-dirty
	border-color red
	
.ng-valid.ng-dirty
	border-color green

.tipo-poison
	background-color purple
	
.tipo-grass
	background-color green