a
	color grey
li
	list-style: none
	
.margen-derecho
	margin-right 20px

.margen-izquierdo
	margin-left 20px
	
.ng-invalid.ng-dirty
	border-color red
	
.ng-valid.ng-dirty
	border-color green

.tipo-poison
	background-color purple
	
.tipo-grass
	background-color green
	
.tipo-fire
	background-color red
	
.tipo-flying
	background-color grey
	
.tipo-water
	background-color blue
	
.tipo-bug
	background-color yellow
	
.tipo-normal
	background-color orange

.tipo-electric
	background-color #808000

.tipo-ground
	background-color brown
	
.tipo-fairy
	background-color pink
	
.tipo-fighting
	background-color black
	
.tipo-psychic
	background-color #66CCFF
	
.tipo-rock
	background-color silver

.tipo-steel
	background-color #666666
	
.tipo-ice
	background-color #00FFFF

.tipo-ghost
	background-color #000080
	
.tipo-dragon
	background-color #008000
	
.pokemon
	padding 20px
	margin-bottom 10px
	border solid 1px #2265AA
	border-radius 20px

.pokemon:hover
	border solid 3px #2265AA

.pokemon
	img 
		width 300px
.z-mayor
	z-index 5
.z-menor
	z-index 2